snippet p "padding"
padding: ${1:0};$0
endsnippet

snippet m "margin"
margin: ${1:0};$0
endsnippet

snippet bd "border"
border: ${1:0};$0
endsnippet

snippet d "display"
display: ${1:none};$0
endsnippet

snippet bg "background"
background: ${1:none};$0
endsnippet

snippet ff "font-family"
font-family: ${1:"Helvetica Neue", Helvetica, Arial, sans-serif};$0
endsnippet
